<div class="jumbotron">
  <div class="good-header">Was it a Good Game?</div>
</div>
<div class="marketing">
    <div class="date-header">Today</div>
    <div  ng-repeat="result in todayScores | orderBy:'-WasItAGoodGame'">
        <div class=" scoresContainer container" ng-class="{good:result.WasItAGoodGame, bad:!result.WasItAGoodGame,unfinished: result.Score === 'unfinished'}">
          <div class="row row-centered vertical-align">
            <div class="col-xs-5">
              <img class="img-responsive team-logo center-block" ng-src="{{result.HomeTeam.LogoUrl}}"/>
            </div>
            <div class="col-xs-2 vs">VS</div>
            <div class="col-xs-5">
              <img class="img-responsive team-logo center-block" ng-src="{{result.AwayTeam.LogoUrl}}"/>
            </div>
        </div>
        </div>
    </div>
    <div class ="scoresContainer container no-game" ng-show="noGames">
        <div class="row row-centered vertical-align">
            <div class="col-xs-4">
                <img class="img-responsive team-logo center-block" ng-src="assets/NBA.png"/>
            </div>
            <div class="col-xs-8">No games today</div>
        </div>
    </div>
    <div class="date-header">Yesterday</div>
    <div  ng-repeat="result in yesterdayScores | orderBy:'-WasItAGoodGame'">
        <div class=" scoresContainer container" ng-class="{good:result.WasItAGoodGame, bad:!result.WasItAGoodGame}">
            <div class="row row-centered vertical-align">
                <div class="col-xs-5">
                    <img class="img-responsive team-logo center-block" ng-src="{{result.HomeTeam.LogoUrl}}"/>
                </div>
                <div class="col-xs-2 vs">VS</div>
                <div class="col-xs-5">
                    <img class="img-responsive team-logo center-block" ng-src="{{result.AwayTeam.LogoUrl}}"/>
                </div>
            </div>
        </div>
    </div>
</div>

