.jumbotron {
  margin: 40px 0 80px 0;
  text-align: center;

  h1 {
    margin-bottom: 20px;
    font-size: 55px;
    line-height: 1;
  }

  .lead {
    font-size: 24px;
    line-height: 1.25;
  }

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

.marketing {
  .row {
    margin-bottom: 10px;
  }

  .row:last-child {
    margin-bottom: 0;
  }
  
  h4 [class*=" icon-"], h4 [class^="icon-"] {
    margin-right: 5px;
    vertical-align: -10%;
    font-size: 28px;
    line-height: 1;
  }
}

body{
  background: lightblue;
}

.scoresContainer table td{
  width: 20%;
  max-width: 20%;
  text-align: center;
}

.scoresContainer table{
  width: 100%;
  table-layout: fixed;
}

.scoresContainer{
  margin-bottom: 20px;
  border: 2px solid lightblue;
  border-radius: 20px;
  padding: 10px;
  background-color: white;
}

.team-logo{
  //max-width: 100%;
  height: 150px;
  //width: 100%;
}

.vs{
  font-size: 60px;
  font-weight: 600;
}

.date-header{
  font-family: 'Josefin Slab', serif;
  font-size: 80px;
  font-weight: bold;
  color: whitesmoke;
  text-align: center;
}

